button {
  outline: none !important;
  background-color: rgb(83, 81, 81) !important;
  border-color: rgb(88, 88, 88) !important;
}

.box {
  backdrop-filter: blur(8px);
  /*make the background a gray color*/
  background-color: rgba(64, 61, 61, 0.455);
}

.label-text {
  font-weight: normal;
}
