.big_box {
  position: relative;
  overflow-y: scroll;
  max-height: 500px; /* Adjust the max height as needed */
}

.box_box {
  backdrop-filter: blur(8px);
  /* Make the background a gray color */
  background-color: rgba(64, 61, 61, 0.455);
}

.scrollbar {
  width: 10px;
  background-color: #f1f1f1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.big_box:hover .scrollbar {
  opacity: 1;
}

.scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.box {
  backdrop-filter: blur(8px);
  /* Make the background a gray color */
  background-color: rgba(64, 61, 61, 0.455);
  height: auto;
  flex: 1;
  transition: flex 0.3s ease;
}

.box.expanded {
  height: max-content;
  flex: 0 0 auto;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
  align-items: start;
}
